<h1></h1>
<form action= "/artii/views">
    <select name="option">
        <option value="standard">standard</option>
        <option value="big">big</option>
        <option value="thin">thin</option>
        <option value="slant">slant</option>
    
    </select>
    <input type="text" name="letter" placeholder="내용을 입력해 주세요">
     <button type="submit" >입력</button>
    
</form>